<!-- play em like atari -->
<!DOCTYPE html> 
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">

<head>
    <title>Lista de Encantamentos</title>
    <link th:href="@{/css/styles_lista_encantamentos.css}" rel="stylesheet" href="../../static/css/styles_lista_encantamentos.css">
    <script th:src="@{/js/listaEncantamentos.js}" src="../../static/js/listaEncantamentos.js" defer></script>
</head>

<body>
  <header>
      <div id="lista-header-background"></div>
      <div id="header-items-wrapper">
        <h1>Selecionar Encantamento</h1>
        <input spellcheck="false" id="searchbar" type="text">
      </div>
  </header>
  <main>

    <div id="lista-background"></div>
    <div id="lista-encantamentos">
      <div class="encantamentosWrapper" th:tabindex="${encantamento.id}" th:each="encantamento : ${listaEncantamentos}" th:value="${encantamento.id}" th:ondblclick="|window.location.href='formEncantamento?id=${encantamento.id}'|">
        <img class="encantamentosImages" src="../../static/img/Enchanted_Book.gif" th:src="@{/img/Enchanted_Book.gif}">
        <div class="encantamentosNomeDescricaoWrapper">
          <h1 class="encantamentosNomes" th:text="${encantamento.nome}"></h1>
          <p class="encantamentosDescricao truncate" th:text="${encantamento.descricao}"></p>
        </div>
      </div>
    </div>   

  </main>
  <footer>
    <div id="lista-footer-background"></div>
    <div id="footer-buttons-wrapper">
      <div id="upper-buttons-wrapper">
        <button id="create-new-enchantment"class="upperButtons mcButtons" th:onclick="|window.location.href='formEncantamento'">Criar Encantamento Customizado</button>
        <button id="see-enchantment-details" class="upperButtons mcButtons">Visualizar Encantamento Selecionado</button>
      </div>
      <div id="lower-buttons-wrapper">
        <button id="edit-enchantment" class="lowerButtons mcButtons">Editar</button>
        <button id="delete-enchantment"class="lowerButtons mcButtons">Deletar</button>
        <button id="reset-table" class="lowerButtons mcButtons" th:onclick="|window.location.href='resetTable'|">Resetar Tabela</button>
        <button id="return"class="lowerButtons mcButtons">Voltar</button>
      </div>
    </div>
  </footer>
</body>
</html>