@font-face {
    font-family: 'Minecraft';
    src: url("../fonts/minecraft-font.ttf");
}

* {
    font-family: 'Minecraft';
}

html {
    top: 0;
}

body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* justify-content: ; */
    margin: 0;
}

main {
    height: 60vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

header, footer {
    height: 20vh;
}

#lista-header-background,
#lista-footer-background,
#lista-background {
    position: absolute;
    width: 100%;
    background-image: url("../img/dirt_texture.jpg");
    background-size: 10vh;
    z-index: -1;
    
}

#header-items-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 3px #444;
    height: 100%;

}

header h1 {
    font-size: 1.25vw;
    font-weight: 200;
    text-align: center;
    margin: 0;
}

#searchbar {
    width: 30vw;
    height: 5vh;
    color: white;
    background-color: black;
    border: 5px solid #a0a0a0;
    outline-width: 0;
    font-size: 1vw;
    line-height: 5vh;
}

#lista-background {
    height: 60vh;
    margin: 0 25vh;
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.95) inset, 0px -15px 25px 0px rgba(0,0,0,0.95) inset;
    filter: brightness(0.15);
}

#lista-header-background,
#lista-footer-background {
    height: 20vh;
    margin: 0;
    filter: brightness(0.3);
}

#lista-encantamentos {
    color: white;
    width: 100%;
    overflow-y: auto;
    margin: 0 30vw;
}

#lista-encantamentos::-webkit-scrollbar {
    width: 15px;
}

#lista-encantamentos::-webkit-scrollbar-track {
    background-color: black;
}

#lista-encantamentos::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    box-shadow: -3px -3px #808080 inset;
    width: 100%;
}

.encantamentosWrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 10vh;
    overflow: hidden;
    gap: 15px;
}

.encantamentosWrapper:first-of-type {
    margin-top: 15px;
}

.encantamentosImages {
    height: 100%;
    user-select: none;
    margin: 0;
}

.encantamentosNomes {
    font-size: 1.25vw;
    font-weight: 100;
    margin: 0;
}

.encantamentosDescricao {
    font-size: 1vw;
    margin: 0;
    color: #808080;
    text-overflow: clip;
    line-height: 1.25vw;
}

#upper-buttons-wrapper {
    width: 100%;
}