@font-face {
    font-family: 'Minecraft';
    src: url("../fonts/minecraft-font.ttf");
}
/* @import url('https://fonts.googleapis.com/css2?family=Inter&family=Pixelify+Sans&display=swap'); tinha importado isso mas nao to usando */

* {
    font-family: 'Minecraft';
}

html {
    top: 0;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ec1b8560-a6d6-40e4-8ddf-df5962d6c8a3/d4sbkeo-86d047c5-8a92-4ca0-ad4a-8ff790c90786.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2VjMWI4NTYwLWE2ZDYtNDBlNC04ZGRmLWRmNTk2MmQ2YzhhM1wvZDRzYmtlby04NmQwNDdjNS04YTkyLTRjYTAtYWQ0YS04ZmY3OTBjOTA3ODYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.phootKQM7riVs9QHhLqhj003GQykeU2FtSUc6vSIXwo");
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    animation-name: slide;
    animation-duration: 150s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

body {
    height: 100%;
    margin: 0;
}

#main-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#minecraft-title {
    width: 60%;
}

#splash {
    position: absolute;
    user-select: none;
    top: 30%;
    right: 15%;
    font-size: 1.5vw;
    color: yellow;
    text-shadow: 0 3px #444;
    animation-name: splash;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#buttons-wrapper {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#lower-buttons-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 50px
}

.mcButtons {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    font-family: 'Minecraft';
    border: 3px solid black;
    background-color: #666;
    background-size: 100% 400px;
    background-position: center;
    color: white;
    font-size: 1em;
    text-shadow: 0px 3px #444;
    box-shadow: inset 3px 3px 1px rgba(256,256,256,.3), inset -3px -6px 1px rgba(0,0,0,.15);
}

.mcButtons:hover {
    border: 3px solid white;
}


@keyframes slide {
    0% {
        background-position: 0px 0px;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0px 0px;
    }
}

@keyframes splash {
    0% {
        transform: scale(1.1) rotate(-25deg);
    }
    50% {
        transform: scale(1) rotate(-25deg);
    }
    100% {
        transform: scale(1.1) rotate(-25deg);
    }
}


.container {

    padding: 0;
}