<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1 class="text-blue-500">A</h1>
<div class="text-base font-THEME" layout:fragment="conteudo">

</div>

</body>
</html>