<!-- play em like atari -->
<!DOCTYPE html> 
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">

<head>
    <title>Lista de Encantamentos</title>
    <link th:href="@{/css/styles_lista_encantamentos.css}" rel="stylesheet" href="../../static/css/styles_lista_encantamentos.css">
    <!-- <script th:src="@{/js/styles_lista_encantamentos.js}" src="../../static/js/home.js" defer></script> -->
</head>

<body>
  <header>

  </header>
  <main>

  </main>
  <footer>

  </footer>
</body>
</html>