<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">

<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet" href="../../static/css/styles.css">
    <title>Lista de Filmes</title>
</head>

<body class="text-base font-THEME">
    <div layout:fragment="conteudo">
        
        <!-- page wrapper (common) -->
        <div class="flex flex-row min-h-screen">
            <!-- common -->
            <nav>
                <!-- sidebar -->
                <div class="flex flex-col bg-SECONDARY-DAY h-screen w-26">
                    <!-- icons -->
                    <div class="icon group">
                        <img th:src="@{/img/Enchanting_Table_JE4_BE2.webp}" alt="enchanting">
                        <!-- sidebar 'tooltips' -->
                        <div class="sidebar-tooltip group-hover:scale-100">
                            <div class="flex flex-col align-middle justify-center">
                                <span class="text-white text-sm py-1">Encantamentos</span>
                                <div class="flex flex-row justify-around">
                                    <!-- buttons for CRUD -->
                                    <a href="./registroEncantamentos"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="tooltip-icon">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                    </svg></a>
                                    
                                    <a href="./listaEncantamentos"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="tooltip-icon">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                                    </svg></a>
                                </div>  
                            </div>
                            
                        </div>
                    </div>
                </div>
            </nav>

            <!-- content -->
            <div class="flex flex-col p-8 w-screen">
                <div class="flex flex-row justify-between items-center space-x-2">
                    <h1 class="text-4xl font-bold mr-4">Encantamentos Cadastrados</h1>

                    <a class="scale-0 flex flex-row items-center bg-ACCENT-DAY text-TEXT-ACCENT rounded-xl pl-1 pr-3 py-1 h-fit font-semibold hover:bg-SECONDARY-NIGHT hover:text-TEXT-NIGHT transition" href="./registroEncantamentos.html">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 mr-1 w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        Novo Encantamento
                    </a>
                </div>
                
                <!-- lista de encantamentos -->
                <table class="table-auto mt-5">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>É Tesouro?</th>
                            <th>Nível Máximo</th>
                            <th>Peso do Encantamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="encantamento : ${listaEncantamentos}">
                            <td th:text="${encantamento.nome}"></td>
                            <td th:text="${encantamento.descricao}"></td>
                            <td th:text="${encantamento.tesouro}"></td>
                            <td th:text="${encantamento.nivel_max}"></td>
                            <td th:text="${encantamento.peso_encantamento}"></td>
                        </tr>
                    </tbody>
                </table> 
            </div>

        </div>
    </div>
</body>

</html>