<!-- play em like atari -->
<!DOCTYPE html> 
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">

<head>
    <title>Lista de Encantamentos</title>
    <link th:href="@{/css/styles_lista_encantamentos.css}" rel="stylesheet" href="../../static/css/styles_lista_encantamentos.css">
    <!-- <script th:src="@{/js/styles_lista_encantamentos.js}" src="../../static/js/home.js" defer></script> -->
</head>

<body>
  <header>
    <div>
      <h1>Selecione o Encantamento</h1>
    </div>
  </header>
  <main>
    <div id="lista-background"></div>
    <div id="lista-encantamentos">
      <div class="encantamentosWrapper">
        <img class="encantamentosImages" src="../../static/img/Enchanted_Book.gif">
        <div class="encantamentosNomeDescricaoWrapper">
          <h1 class="encantamentosNomes">Sharpness</h1>
          <p class="encantamentosDescricao">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>
      </div>
    </div>    
  </main>
  <footer>

  </footer>
</body>
</html>